@model assignment1.Models.LayoutModel<assignment1.Models.Auction.AuctionModel>;

@{
    ViewData["Title"] = "Auction Page";
}

<div class="card mb-3 my-4 w-75 m-auto">
    <div class="row g-0 w-100 m-auto">
        <div class="col-md-4 p-4 hover-zoom">
            <img src="/Images/AuctionImage?id=@Model.Data.AuctionId"
                class="rounded-6 img-fluid w-100 h-100" style="object-fit: contain;"
                alt="@Model.Data.AuctionName" />
        </div>
        <div class="col-md-8 py-4">
            <div class="d-flex flex-column text-center mb-3">
                <h2 class="card-title mb-1">@Model.Data.AuctionName</h2>
                <p class="card-text mb-2">@Model.Data.Description</p>
            </div>
            <div class="d-flex flex-column text-center mb-3">
                <a asp-action="Profile" asp-controller="User" asp-route-uid="@Model.Data.UserId">Sellers Page</a>
            </div>
            <div class="row justify-content-center">
                @*TODO: add ends in timer*@
                <h5 class="col-md-4 text-end">Ends at:</h5>
                <p class="col-md-5">@Model.Data.EndDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
            </div>

            <div class="row justify-content-center">
                <h5 class="col-md-4 text-end">Leading Bid:</h5>
                <p class=col-md-5>@(@Model.Data.LastBid != null ? @Model.Data.LastBid.BidAmount.ToString("C2") : "This Auction have no bids yet")</p>
            </div>

            <div class="row justify-content-center">
                <h5 class="col-md-4 col-sm-1 text-end my-auto">Buy it now:</h5>
                <form asp-action="BuyNowAuction" method="post" class="col-md-5 col-sm-2">
                    @if(Model.User != null) {
                        <input type="hidden" asp-for="Data.AuctionId" id="auction_id" name="auction_id">
                    }
                    <span class="d-inline-block" tabindex="0" data-mdb-toggle="tooltip" title='@(Model.User == null ? "Log in to buy!" : "")'>
                        <button type="submit" class="btn btn-secondary btn-rounded fs-6" 
                                @(Model.User == null ? "disabled" : 
                                                       Model.Data.LastBid != null && Model.Data.LastBid.BidAmount >= Model.Data.BuyNowPrice ? "disabled" : 
                                                       "")
                                @(Model.Data.HasBeenBuyedNow ? "disabled" : "")>
                            @Model.Data.BuyNowPrice.ToString("C2")
                        </button>
                    </span>
                </form>
            </div>

            <div class="text-center mt-4">
                <form class="row justify-content-center" asp-action="PlaceBid" asp-route-bid="bid_amt" method="post">
                    @if(Model.User != null) {
                        <input type="hidden" asp-for="Data.AuctionId" id="auction_id" name="auction_id">
                    }
                    <div class="form-outline w-25 col-md-4 fs-6">
                        <i class="fas fa-dollar-sign trailing"></i>
                        <input  class="form-control form-icon-trailing fs-5 active" min='@Model.Data.BidStart.ToString("##.##")' 
                                type="number" id="bid_amt" name="bid_amt" value='@Model.Data.BidStart.ToString("##.##")' 
                                @(Model.User == null ? "disabled" : (!Model.Data.IsActive ? "disabled" : ""))/>
                        <label class="form-label" for="bid_amt">Bid amount</label>
                    </div>
                    <span class="col-md-4" tabindex="0" data-mdb-toggle="tooltip" title='@(Model.User == null ? "Log in to buy!" : "")'>
                        <button type="submit" class="btn btn-primary fs-6 w-100" @(Model.User == null ? "disabled" : (!Model.Data.IsActive ? "disabled" : ""))>Place a bid</button>
                    </span>
                </form>
            </div>

            @if (ViewBag.Error != null)
            {
                <div class="row justify-content-center mt-4">
                    <p class="text-danger text-center my-auto fw-bold">@ViewBag.Error</p>
                </div>
            }

        </div>
    </div>
    <!-- FOR FUTURE DEVELOPMENT -->

    @if (Model.Data.Bids != null && Model.Data.Bids.Count() > 0)
    {
        <hr class="hr border border-3">

        <div class="w-100 text-center mt-4">
            <h3 class="card-title fs-1">BIDS</h3>
        </div>

        <hr class="hr hr-blurry w-50 mx-auto my-1" style="height: .15em;">

        <div class="row g-0 w-25 mx-auto mb-4">
            <ul class="list-group list-group-light">
                @foreach (var bid in Model.Data.Bids.Reverse())
                {
                    <li class="list-group-item py-1">
                        <div class="ms-2 me-auto text-center">
                            <div class='fw-bold @(bid.BuyedNow ?  "text-success fs-2" : "fs-4")'>@bid.BidAmount.ToString("C2", System.Globalization.CultureInfo.CurrentCulture)</div>
                            <small>@bid.Username</small>
                            <span class='badge @(bid.BuyedNow ?  "badge-success" : "badge-secondary") rounded-pill'>@bid.TimeMark</span>
                        </div>
                   </li>
                }
            </ul>
        </div>
    }

    <form asp-action="Review" method="post">
        <div class="form-control rounded p-3">
            @*Review Range*@
            <div class="form-control mb-4">
                <label for="reviewScore" class="form-label">Rating from 1 to 10</label>
                <br>
                <input type="range" for="reviewScore" min="1" max="10">
                <br>
                <label for="reviewBox" class="form-label">Give us a review of the product</label>
                <br>
                <textarea for="reviewBox" rows="4" cols="50"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Submit Review</button>
            <br>
        </div>
    </form>

</div>