@model assignment1.Models.LayoutModel<assignment1.Models.Auction.AuctionModel>;

@{
    ViewData["Title"] = "New Auction";
}

<h3>New Auction Item</h3>
<div class="form-control rounded p-3">
    @using (Html.BeginForm("NewAuction", "Auction", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" asp-for="@Model.Data.UserId" value="@Model.User.Id" />

        <div class="form-outline mb-4">
            <input type="text" asp-for="@Model.Data.AuctionName" id="auction_name" class="form-control" />
            <label class="form-label" for="auction_name">Auction Name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" asp-for="@Model.Data.StartPrice" id="start_price" class="form-control" />
            <label class="form-label" for="start_price">Start Price</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" asp-for="@Model.Data.BuyNowPrice" id="buy_now_price" class="form-control" />
            <label class="form-label" for="buy_now_price">Buy now price</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="description">Item Description</label>
            <textarea asp-for="@Model.Data.Description" id="description" class="form-control"></textarea>
        </div>

        <div class="form-select mb-4">
            <label class="form-label" for="condition">Item Condition</label>
            <select asp-for="@Model.Data.Condition" id="condition" class="form-control">
                <option value="new">New</option>
                <option value="used">Used</option>
                <option value="not working">For parts</option>
            </select>
        </div>

        <div class="form-outline mb-4">
            <input type="datetime-local" asp-for="@Model.Data.StartDate" id="start_date" class="form-control" />
            <label class="form-label" for="start_date">Start Date</label>
        </div>
    
        <div class="form-outline mb-4">
            <input type="datetime-local" asp-for="@Model.Data.EndDate" id="end_date" class="form-control"/>
            <label class="form-label" for="end_date">End Date</label>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="auction_pic">Auction Pic</label>
            <input type="file" asp-for="@Model.Data.Image" class="form-control" id="auction_pic" name="auction_pic" />
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Create Auction</button>
    }
</div>