@model assignment1.Models.LayoutModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/mdb/css/mdb.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assignment1.styles.css" asp-aRegistrationModelppend-version="true" />
</head>

<body class="overflow-y-scroll">

    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">Auction House</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav d-flex flex-grow-1">
                        @if (Model != null)
                        {
                            @foreach (assignment1.Models.MenuModel menu in Model.Menus)
                            {
                                <li class='@menu.Classes["li"]'>
                                    <a class='@menu.Classes["a"]' asp-area="@menu.Area" asp-controller="@menu.Controller"
                                asp-action="@menu.Action">@menu.Label</a>
                                </li>
                            }
                        }

                        @if (Model.User != null)
                        {
                            <li class="mx-4">
                                <div class="d-flex align-items-center m-auto">
                                    <a asp-controller="User" asp-action="Profile" target="_self">
                                        <img src="/Images/UserImage?id=@Model.User.Id" style="width: 45px; height: 45px" class="rounded-circle" />
                                    </a>
                                    <div class="ms-3">
                                        <a class="text-light" asp-controller="User" asp-action="Profile" target="_self">
                                            <p class="fw-bold mb-1">@Model.User.Username</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }

                        @* @if (Model.User.UserType == "Admin")
                        {
                            <li class="mx-4">
                                <div class="ms-3">
                                    <a class="text-light" asp-controller="Admin" asp-action="AdminPage">Users</a>
                                </div>
                            </li>
                            <li class="mx-4">
                                <div class="ms-3">
                                    <a class="text-light" asp-controller="Admin" asp-action="AdminPage">Auctions</a>
                                </div>
                            </li>
                            <li>
                                <div class="ms-3">
                                    <a class="text-light" asp-controller="User" asp-action="Profile" target="_self">
                                        <p class="fw-bold mb-1">@Model.User.Username</p>
                                    </a>
                                </div>
                            </li>
                        } *@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* text-center text-sm-start border-top mt-xl-5 pt-2 fixed-bottom bg-white *@
    <footer class="text-center text-sm-start bg-light sticky-bottom border-top text-muted">
        <!-- Grid container -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="text-center">
                    <h6 class="text-uppercase mt-3 bold">GROUP (Assignment 1 - 69) ~ (Assignment 2 - 42)</h6>
                    <ul
                        class="list-group list-group-light text-center mx-3 justify-content-evenly flex-sm-column flex-md-row">
                        <li class="d-flex justify-content-between bg-light align-items-center py-sm-3 px-md-4"> @*
                            list-group-item || style="border-bottom-width: 0 !important; border-right-width:
                            var(--mdb-list-group-light-item-border-width);" *@
                            <div class="d-flex align-items-center m-auto">
                                <a href="https://github.com/jamtycle" target="_blank">
                                    <img src="https://avatars.githubusercontent.com/u/38017959?s=400&u=9dc0d191e114f05d42b245774617b609846c6799&v=4"
                                        alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                                </a>
                                <div class="ms-3">
                                    <a href="https://github.com/jamtycle" target="_blank">
                                        <p class="fw-bold mb-1">Bruno Ramirez</p>
                                        <p class="text-muted mb-0">101380203 | 48621</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between bg-light align-items-center py-sm-3 px-md-4">
                            <div class="d-flex align-items-center m-auto">
                                <a href="https://github.com/Matt-239" target="_blank">
                                    <img src="https://avatars.githubusercontent.com/u/105237637?s=64&v=4"
                                        class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                                </a>
                                <div class="ms-3">
                                    <a href="https://github.com/Matt-239" target="_blank">
                                        <p class="fw-bold mb-1">Matthew Price</p>
                                        <p class="text-muted mb-0">100723485 | 48620</p>
                                    </a>
                                </div>

                            </div>
                        </li>
                        <li class="d-flex justify-content-between bg-light align-items-center py-sm-3 px-md-4"
                            style="border-bottom-width: 0 !important; border-right-width: var(--mdb-list-group-light-item-border-width);">
                            <div class="d-flex align-items-center m-auto">
                                <a href="https://github.com/Matt-239" target="_blank">
                                    <img src="https://avatars.githubusercontent.com/u/61061541?v=4"
                                        class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                                </a>
                                <div class="ms-3">
                                    <a href="https://github.com/VirtAltoKohi" target="_blank">
                                        <p class="fw-bold mb-1">Evan William James</p>
                                        <p class="text-muted mb-0">101351543 | 48620</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex justify-content-between bg-light align-items-center py-sm-3">
                            <div class="d-flex align-items-center m-auto">
                                <a href="https://github.com/Matt-239" target="_blank">
                                    <img src="https://avatars.githubusercontent.com/u/96277496?v=4"
                                        class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                                </a>
                                <div class="ms-3">
                                    <a href="https://github.com/RyunKL" target="_blank">
                                        <p class="fw-bold mb-1">Ryan Lee</p>
                                        <p class="text-muted mb-0">101296633 | 48623</p>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center my-2 border-top border-white">
            &copy; 2023 - assignment1 - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/mdb/js/mdb.min.js" async></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>
