@model assignment1.Models.LayoutModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/mdb/css/mdb.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assignment1.styles.css" asp-aRegistrationModelppend-version="true" />
    @* <link rel="stylesheet" href="~/css/custom.css"> *@
</head>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">Auction House</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav d-flex flex-grow-1">

                    @if (Model != null)
                    {
                        @foreach (assignment1.Models.MenuModel menu in Model.Menus)
                        {
                            @if (menu.Label == "Log out")
                            {
                                <li class="nav-item ms-auto text-bg-light rounded">
                                    <a class="nav-link text-black" asp-area="@menu.Area" asp-controller="@menu.Controller" asp-action="@menu.Action">@menu.Label</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="@menu.Area" asp-controller="@menu.Controller"
                           asp-action="@menu.Action">@menu.Label</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>


<body class="overflow-y-scroll">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>


<footer class="text-center text-sm-start border-top mt-xl-5 pt-2 fixed-bottom">
    <!-- Grid container -->
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="text-center">
                <h6 class="text-uppercase ">GROUP 69</h6>

                <ul class="list-unstyled mb-4">
                    <li>
                        Bruno Ramirez; 101380203; 48621
                    </li>
                    <li>
                        Matthew Price 100723485	48620
                    </li>
                    <li>
                        Evan William James 101351543 48620
                    </li>
                    <li>
                        Ryan Lee 101296633 48623
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3 border-top border-white">
        &copy; 2023 - assignment1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/mdb/js/mdb.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</html>
