@model assignment1.Models.LayoutModel<IEnumerable<assignment1.Models.Generics.UserBase>>

@{
    ViewData["Title"] = "Admin Page";
}

<div>
    <p>This is the admin page</p>
    <p>Here you can see all the users</p>
    <table>
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
        @foreach (var user in Model.Data)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserType</td>
                <td><a asp-controller="User" asp-action="EditProfile"></a>test</td>
            </tr>
        }
    </table>
</div>