@model assignment1.Models.LayoutModel<assignment1.Models.Generics.UserBase>

@{
    ViewData["Title"] = "UserPage";
}

<br>
<div>
    <div class="d-flex align-items-center">
        <img src="" alt="@Model.Data.Username profile picture" style="width: 250px; height: 250px" class="rounded-circle" />
        <div class="ms-3">
            <div class="container">
                <div class="row gx-5 align-items-center mb-3">
                    <div class="col-md-6 m-auto">
                        <h1 style="margin: auto;">@Model.Data.Username</h1>
                    </div>
                    <div class="col-md-6" style="padding-right: .2em;">
                        <span
                            class="badge rounded-pill badge-success">@assignment1.Libs.Persistent.user_type_table.FirstOrDefault(x
                            =>
                            x.UserTypeId.Equals(Model.Data.UserTypeId)).UserTypeName</span>
                    </div>
                </div>
                <div class="row gx-5">
                    <p>@Model.Data.FirstName @Model.Data.LastName</p>
                </div>
                <div class="row gx-5">
                    <p>@Model.Data.Email</p>
                </div>
            </div>
        </div>
    </div>
    

    @if (Model.User.UserTypeId == assignment1.Libs.Persistent.user_type_table.FirstOrDefault(x =>
    x.UserTypeName.Equals("Buyer")).UserTypeId)
    {
        <form asp-action="MakeUserSeller" asp-controller="User" method="post">
            <input type="hidden" value="@Model.Data.Id" name="uid" id="uid" />
            <button class="btn btn-primary" type="submit">Become a seller!</button>
        </form>
    }

    @if (ViewBag.MakeUserSeller_Error != null)
    {
        <p class="text-danger">@ViewBag.MakeUserSeller_Error</p>
    }
</div>