@model assignment1.Models.LayoutModel<assignment1.Models.Home.SearchModel>;


@{
    ViewData["Title"] = "Search Results";
}

<div class="row">
    <form   asp-action="Search" method="GET" class="d-flex flex-column col-3"
            asp-route-search="search"
            asp-route-condition="condition"
            asp-route-min_price="min_price"
            asp-route-max_price="max_price"
            asp-route-status="status">
        <div class="input-group" style="height: fit-content;">
            <div class="form-outline">
                <input type="search" id="search" name="search" class="form-control" asp-for="@Model.Data.SearchText" />
                <label class="form-label" for="search">Search</label>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="form-outline mt-3">
            <button class="w-100 align-items-center btn btn-outline-primary d-flex justify-content-right py-0"
                type="button" data-mdb-toggle="collapse" data-mdb-target="#condition_panel" aria-expanded="true"
                aria-controls="condition_panel">
                <i class="fas fa-angle-right fs-6"></i>
                <p class="fs-5 my-auto ms-2">Condition</p>
            </button>


            <div class="btn-group collapse show w-100" id="condition_panel" style="">
                <input type="radio" class="btn-check" name="condition" id="condition_new" autocomplete="off"
                    value="New" @(Model.Data.ConditionText == "New" ? "checked" : "")>
                <label class="btn btn-secondary" for="condition_new">New</label>

                <input type="radio" class="btn-check" name="condition" id="condition_used" autocomplete="off"
                    value="Used" @(Model.Data.ConditionText == "Used" ? "checked" : "")>
                <label class="btn btn-secondary" for="condition_used">Used</label>

                <input type="radio" class="btn-check" name="condition" id="condition_parts" autocomplete="off"
                    value="For parts" @(Model.Data.ConditionText == "For parts" ? "checked" : "")>
                <label class="btn btn-secondary" for="condition_parts">For parts</label>

                <input type="radio" class="btn-check" name="condition" id="condition_all" autocomplete="off"
                    value="All" @(Model.Data.ConditionText == "All" ? "checked" : "")>
                <label class="btn btn-secondary" for="condition_all">All</label>
            </div>
        </div>

        <div class="form-outline mt-3">
            <button class="w-100 align-items-center btn btn-outline-primary d-flex justify-content-right py-0"
                type="button" data-mdb-toggle="collapse" data-mdb-target="#price_panel" aria-expanded="true"
                aria-controls="price_panel">
                <i class="fas fa-angle-right fs-6"></i>
                <p class="fs-5 my-auto ms-2">Price</p>
            </button>


            <div class="collapse show w-100" id="price_panel">
                <label class="form-label" for="price_min">Min price</label>
                <div class="range">
                    <input type="range" class="form-range" min="0" max="1000" id="price_min" name="min_price" asp-for="@Model.Data.MinPrice" />
                </div>

                <label class="form-label" for="price_max">Max price</label>
                <div class="range">
                    <input type="range" class="form-range" min="0" max="1000" id="price_max" name="max_price" asp-for="@Model.Data.MaxPrice" />
                </div>
            </div>
        </div>

        <div class="form-outline mt-3">
            <button class="w-100 align-items-center btn btn-outline-primary d-flex justify-content-right py-0"
                type="button" data-mdb-toggle="collapse" data-mdb-target="#status_panel" aria-expanded="true"
                aria-controls="status_panel">
                <i class="fas fa-angle-right fs-6"></i>
                <p class="fs-5 my-auto ms-2">Status</p>
            </button>


            <div class="btn-group collapse show w-100" id="status_panel" style="">
                <input type="radio" class="btn-check" name="status" id="status_active" autocomplete="off"
                    value="active" @(Model.Data.Status == "active" ? "checked" : "")>
                <label class="btn btn-secondary" for="status_active">Active Only</label>

                <input type="radio" class="btn-check" name="status" id="status_finished" autocomplete="off"
                    value="finished" @(Model.Data.Status == "finished" ? "checked" : "")>
                <label class="btn btn-secondary" for="status_finished">Finished Only</label>

                <input type="radio" class="btn-check" name="status" id="status_all" autocomplete="off"
                    value="all" @(Model.Data.Status == "all" ? "checked" : "")>
                <label class="btn btn-secondary" for="status_all">All</label>
            </div>
        </div>


        <button type="submit" class="btn btn-primary w-100 mt-4">
            Filter
        </button>
    </form>

    <div class="col-9">
        @if (Model.Data.Search == null)
        {
            <h3>There are no items that meet your search criteria</h3>
        }
        else
        {

            var search_array = Model.Data.Search.ToArray();

            @for (var i = 0; i < search_array.Length; i += 4)
            {
                <div class="card-deck d-flex justify-content-evenly mb-3">
                    @for (var k = i; k < i + 4 && k < search_array.Length; k++)
                    {
                        var auction = search_array[k];
                        <div class="card m-1" style="width: 15rem;">
                            <a class="ripple" asp-controller="Auction" asp-action="AuctionPage" asp-route-aid="@auction.AuctionId">
                                <img src="/Images/AuctionImage?id=@auction.AuctionId" alt="@auction.AuctionName"
                                    class="card-img-top" style="height:15vh;" />
                            </a>
                            <div class="ms-3 card-body">
                                <a class="fw-bold mb-1 card-title" asp-controller="Auction" asp-action="AuctionPage"
                        asp-route-aid="@auction.AuctionId">@auction.AuctionName</a>

                                <p class="text-muted mb-0 card-text">Start Price: @auction.StartPrice.ToString("C2")</p>
                                <p class="text-muted mb-0 card-text">Buy Now: @auction.BuyNowPrice.ToString("C2")</p>
                                <p class="text-muted mb-0 card-text">End Date: @auction.EndDate.Date.ToString("dd/MM/yyyy")</p>
                                <p class="text-muted mb-0 card-text">End Time: @auction.EndDate.Date.ToString("HH:mm:ss")</p>
                                <span class='badge rounded-pill @(auction.IsActive ? "badge-success" : "badge-danger") card-footer'>@(auction.IsActive ? "Active" : "Finished")</span>
                            </div>
                        </div>
                    }
                </div>
            }

        }
    </div>

</div>